html {
  font-family: system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #2d3748;
  background: #fdfcfc;
  word-wrap: break-word;
}
body {
  padding-right: 3.5vw;
  margin-left: auto;
  margin-right: auto;
  max-width: 42rem;
  padding: 2.625rem 1.3125rem;
  padding-top: 0;
}
.frontpage {
  padding-top: 25%;
}
img,
video {
  max-width: 100%;
  height: auto;
}
code {
  word-wrap: break-word;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #1d1f21;
    color: #e0e0e0;
  }
  a,
  a:visited,
  a:hover {
    color: #ff6e6c;
  }
}
