<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="favicon.png" type="image/png" />
    <link rel="shortcut icon" href="favicon.png" type="image/png" />

    <meta name="title" content="aboutdavid" />
    <meta
      name="description"
      content="the website of david, oh wait that's me"
    />

    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://aboutdavid.me/" />
    <meta property="og:title" content="aboutdavid" />
    <meta
      property="og:description"
      content="the website of david, oh wait that's me"
    />
    <meta property="og:image" content="" />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://aboutdavid.me/" />
    <meta property="twitter:title" content="aboutdavid" />
    <meta
      property="twitter:description"
      content="the website of david, oh wait that's me"
    />
    <meta property="twitter:image" content="" />
    <title>aboutdavid</title>
    <link inline rel="stylesheet" href="/style.css" />
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>
